In [1]:
import pandas as pd

Se importa el CSV con encoding = latin1 para que sea legible.

In [2]:
df_original = pd.read_csv("sales_data.csv", encoding='latin1')

Se muestran las dimensiones en el CSV o Dataset.

In [3]:
print("Nombres de las columnas:", df_original.columns.tolist())

Nombres de las columnas: ['ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH', 'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID', 'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME', 'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE', 'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME']

Se muestran los el número de registros, incluyendo 10 estos antes de la limpieza.

In [4]:
print("Número de registros antes de la limpieza:", df_original.shape[0])

print("\nPrimeros registros antes de la limpieza:")
print(df_original.head())
print("\nÚltimos registros antes de la limpieza:")
print(df_original.tail())

Número de registros antes de la limpieza: 2823

Primeros registros antes de la limpieza:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...             PHONE  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...        2125557818
1    5/7/2003 0:00  Shipped       2         5     2003  ...        26.47.1555
2    7/1/2003 0:00  Shipped       3         7     2003  ...  +33 1 46 62 7555
3   8/25/2003 0:00  Shipped       3         8     2003  ...        6265557265
4  10/10/2003 0:00  Shipped       4        10     2003  ...        6505551386

                    ADDRESSLINE1 ADDRESSLINE2           CITY STATE POSTALCODE  \
0        897 Long Airport Avenue          NaN            NYC    NY      10022
1             59 rue de l'Abbaye          NaN          Reims   NaN      51100
2  27 rue du Colonel Pierre Avia          NaN          Paris   NaN      75508
3             78934 Hillside Dr.          NaN       Pasadena    CA      90003
4                7734 Strong St.          NaN  San Francisco    CA        NaN

         COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME
0  United States       NaN              Yu             Kwai
1         France      EMEA         Henriot             Paul
2         France      EMEA        Da Cunha           Daniel
3            USA       NaN           Young            Julie
4  United States       NaN           Brown            Julie

[5 rows x 24 columns]

Últimos registros antes de la limpieza:
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2818        10350               20     100.00               15  2244.40
2819        10373               29     100.00                1  3978.51
2820        10386               43     100.00                4  5417.57
2821        10397               34      62.24                1  2116.16
2822        10414               47      65.52                9  3079.44

           ORDERDATE    STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2818  12/2/2004 0:00   Shipped       4        12     2004  ...
2819  1/31/2005 0:00   Shipped       1         1     2005  ...
2820   3/1/2005 0:00  Resolved       1         3     2005  ...
2821  3/28/2005 0:00   Shipped       1         3     2005  ...
2822   5/6/2005 0:00   On Hold       2         5     2005  ...

               PHONE           ADDRESSLINE1 ADDRESSLINE2      CITY STATE  \
2818  (91) 555 94 44     C/ Moralzarzal, 86          NaN    Madrid   NaN
2819      981-443655            Torikatu 38          NaN      Oulu   NaN
2820  (91) 555 94 44     C/ Moralzarzal, 86          NaN    Madrid   NaN
2821      61.77.6555  1 rue Alsace-Lorraine          NaN  Toulouse   NaN
2822      6175559555     8616 Spinnaker Dr.          NaN    Boston    MA

     POSTALCODE  COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME
2818      28034    Spain      EMEA          Freyre            Diego
2819      90110  Finland      EMEA       Koskitalo           Pirkko
2820      28034    Spain      EMEA          Freyre            Diego
2821      31000   France      EMEA          Roulet          Annette
2822      51003      USA       NaN         Yoshido             Juri

[5 rows x 24 columns]

Se hace la limpieza eliminando los datos nulos en la dimensión "STATE"

In [5]:
df_limpio = df_original.dropna(subset=['STATE'])

Se muestran el número de registros, incluyendo 10 ejemplos de estos posterior a la limpieza.

In [6]:
print("Número de registros después de la limpieza:", df_limpio.shape[0])

print("\nPrimeros registros después de la limpieza:")
print(df_limpio.head())
print("\nÚltimos registros después de la limpieza:")
print(df_limpio.tail())

Número de registros después de la limpieza: 1337

Primeros registros después de la limpieza:
   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27
5        10168               36      96.66                1  3479.76
8        10201               22      98.57                2  2168.54

         ORDERDATE   STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...       PHONE  \
0   2/24/2003 0:00  Shipped       1         2     2003  ...  2125557818
3   8/25/2003 0:00  Shipped       3         8     2003  ...  6265557265
4  10/10/2003 0:00  Shipped       4        10     2003  ...  6505551386
5  10/28/2003 0:00  Shipped       4        10     2003  ...  6505556809
8   12/1/2003 0:00  Shipped       4        12     2003  ...  6505555787

                ADDRESSLINE1 ADDRESSLINE2           CITY STATE POSTALCODE  \
0    897 Long Airport Avenue          NaN            NYC    NY      10022
3         78934 Hillside Dr.          NaN       Pasadena    CA      90003
4            7734 Strong St.          NaN  San Francisco    CA        NaN
5          9408 Furth Circle          NaN     Burlingame    CA      94217
8  5557 North Pendale Street          NaN  San Francisco    CA        NaN

         COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME
0  United States       NaN              Yu             Kwai
3            USA       NaN           Young            Julie
4  United States       NaN           Brown            Julie
5            USA       NaN          Hirano             Juri
8  United States       NaN          Murphy            Julie

[5 rows x 24 columns]

Últimos registros después de la limpieza:
      ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
2809        10248               23      65.52                9  1506.96
2810        10261               29      50.78                7  1472.62
2812        10283               33      51.32               12  1693.56
2817        10337               42      97.16                5  4080.72
2822        10414               47      65.52                9  3079.44

            ORDERDATE     STATUS  QTR_ID  MONTH_ID  YEAR_ID  ...  \
2809    5/7/2004 0:00  Cancelled       2         5     2004  ...
2810   6/17/2004 0:00    Shipped       2         6     2004  ...
2812   8/20/2004 0:00    Shipped       3         8     2004  ...
2817  11/21/2004 0:00    Shipped       4        11     2004  ...
2822    5/6/2005 0:00    On Hold       2         5     2005  ...

               PHONE             ADDRESSLINE1 ADDRESSLINE2       CITY   STATE  \
2809      2125557818  897 Long Airport Avenue          NaN        NYC      NY
2810  (514) 555-8054       43 rue St. Laurent          NaN   Montral  Qubec
2812  (604) 555-4555       23 Tsawassen Blvd.          NaN  Tsawassen      BC
2817      2125558493         5905 Pompton St.    Suite 750        NYC      NY
2822      6175559555       8616 Spinnaker Dr.          NaN     Boston      MA

     POSTALCODE COUNTRY TERRITORY CONTACTLASTNAME CONTACTFIRSTNAME
2809      10022     USA       NaN              Yu             Kwai
2810    H1J 1C3  Canada       NaN       Fresnire             Jean
2812    T2F 8M4  Canada       NaN         Lincoln        Elizabeth
2817      10022     USA       NaN       Hernandez            Maria
2822      51003     USA       NaN         Yoshido             Juri

[5 rows x 24 columns]

Se guarda el Dataset limpio en un archivo XML.

In [7]:
df_limpio.to_xml(r'C:\Users\brmh0\OneDrive\Escritorio\Bases de datos avanzadas\Práctica 6\Resultados\Dataset_Limpio.xml', index=False)

print("Proceso completado. El archivo XML ha sido guardado.")

Proceso completado. El archivo XML ha sido guardado.